body {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

article {
    margin: 4em 2em 0 2em;
}

h2 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}
